* {box-sizing: border-box;}
h1 {color: darkblue;
font-style: italic;
font-size: larger;
font-weight: 200;
}
p{ color: indigo;
font-style: italic;
background-image: repeating-linear-gradient(pink,gold,pink);}